[submodule "daidepp"]
	path = daidepp
	url = https://github.com/delaschwein/daidepp
[submodule "correctness/llm-utils"]
	path = correctness/llm-utils
	url = https://github.com/DhananjayAshok/llm-utils
